{% extends "base.html" %}

{% block title %}Lute index{% endblock %}

{% block body %}

<!-- I'm not *supposed* to use tables for layout, but it works. -->
<table style="table-layout: fixed">
  <tr>
    <td width="5px">
      <img src="{{ url_for('static', filename='img/lute.png') }}" class="lutelogo" style="width: 75px; height: auto;" />
    </td>
    <td>
      <h1 style="margin-block-end: 0px">Learning Using Texts (LUTE)</h1>
      <p style="margin: 0px; font-size: 0.6em; font-style: italic;">{{ version }}</p>
    </td>
  </tr>
</table>

<br />

{% if tutorial_book_id %}
<div class="flash-notice">
  <p>The Lute database has been loaded with a
    <a href="/read/{{ tutorial_book_id }}/page/1" style="text-decoration: underline;">brief tutorial</a>,
    and some languages and short texts for you to try out.
  </p>
  <p>When you're done trying out the demo, <a href="/wipe_database"
  style="text-decoration: underline;">click here</a> to clear out the
  database.  <i>Note: this removes everything in the db.</i></p>
</div>
{% endif %}

{% if is_production_data %}
  {% include '/index_backup_warning.html' %}
{% endif %}

<br />

{% if not have_languages %}
<p>To get started using Lute, first <a href="/language/new">create your language.</a></p>
{% else %}
{% include "book/tablelisting.html" %}

<div id="userlinks" style="margin-top: 10px;">
  <ul>
    <li><a href="/language/index">Languages</a></li>
    <li><a href="/book/new">Create new Book</a></li>
    <li><a href="/book/import_webpage">Import web page</a></li>
    <li><a href="/book/archived">Book archive</a></li>
    <li><a href="/term/index">Terms</a></li>
    <li><a href="/termimport/index">Import Terms</a></li>
    <li><a href="/term_parent_map/index">Parent Term mapping</a></li>
    <li><a href="/termtag/index">Term Tags</a></li>
  </ul>
</div>

<div id="techlinks" style="margin-top: 30px;">
  <ul>
    {% if backup_acknowledged and backup_directory != '' %}
    <li>
      <a href="/backup/backup?type=manual"
         {% if backup_last_display_date is not none %}
         title="last backup: {{ backup_last_display_date }}"
         {% endif %}
         >Create backup</a>
    </li>
    {% endif %}
    <li><a href="/settings/index">Settings settings</a></li>

    <!-- TODO versioning: add link -->
    <li style="color: grey;">Version and software info</li>
    <li><a href="https://github.com/jzohrab/lute/wiki/">Docs (on GitHub wiki)</a></li>
  </ul>
</div>

{% endif %}

<footer id="myfooter">
  <p>DB = {{ dbname }}, Data path = {{ datapath }}</p>
  <p>
    Lute is free and unencumbered software released into the
    <a href="https://en.wikipedia.org/wiki/Public_domain_software" target="_blank">PUBLIC DOMAIN</a>. 
    Ref <a href="http://unlicense.org/" target="_blank">http://unlicense.org/</a>
  </p>
</footer>

{% endblock %}
