@import url("../../static/css/user-styles.css");

body {
  font-family: "Rubik";

  background-color: #fff;
  color: #343a40;

  --status-0-color: #d1f3f8;
  --status-1-color: #ffe8d5;
  --status-2-color: #c5f8d6;
  --status-3-color: #d4fae0;
  --status-4-color: #d4fae0;
  --status-5-color: #d4fae0;

  --status-6-color: #81dc91e4;
  --status-7-color: #ec6e6ecd;
}

span.textitem {
  font-size: 1.3rem;
}
