{% extends 'base.html' %}

{% block title %}Stats{% endblock %}

{% block header %}Stats{% endblock %}

{% block body %}

<script type="text/javascript" src="{{ url_for('static', filename='vendor/chartjs/chart.umd.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor/chartjs/chartjs-adapter-date-fns.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}" charset="utf-8"></script>

<h2>Words read</h2>

<table class="statsWordsRead">
  <thead>
    <tr>
      <th>Language</th>
      <th>today</th>
      <th>last week</th>
      <th>last month</th>
      <th>last year</th>
      <th>all time</th>
    </tr>
  </thead>
  <tbody>
    {% for lang in read_table_data %}
    <tr>
      <td>{{ lang.name }}</td>
      <td>{{ lang.counts.day }}</td>
      <td>{{ lang.counts.week }}</td>
      <td>{{ lang.counts.month }}</td>
      <td>{{ lang.counts.year }}</td>
      <td>{{ lang.counts.total }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Time spent reading</h2>

<table class="statsWordsRead">
  <tr>
    <th>Book</th>
    <th>Time</th>
  </tr>
  {% for item in time_tracking_data %}
  <tr>
    <td>{{ item.book }}</td>
    <td>
      {% set minutes = item.minutes | int %}
      {% set seconds = ((item.minutes - minutes) * 60) | round | int %}
      {{ minutes }} min, {{ seconds }} sec
    </td>
  </tr>
  {% endfor %}
</table>

<div class="chart-container" style="position: relative; aspect-ratio: 2; margin-bottom: 2rem;">
  <canvas id="wordCountChart"></canvas>
</div>

<div class="chart-container" style="position: relative; aspect-ratio: 2; max-width: 500px; margin: auto;">
  <canvas id="languageDistributionChart"></canvas>
</div>

  
{% endblock %}

