<p><i>Note: Before using the keyboard you must set the focus within the frame by clicking once on the frame.</i></p>

<table>
  <thead>
    <tr><th>Key</th><th>Action</th></tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2"><b>Status</b> (shift-click to update multiple)</td>
    </tr>
    <tr>
      <td>1-5</td>
      <td>Set status(es) to 1 (Learning) to 5 (Learned)</td>
    </tr>
    <tr>
      <td>i</td>
      <td>Mark term(s) as "Ignored"</td>
    </tr>
    <tr>
      <td>w</td>
      <td>Mark term(s) as "Well Known"</td>
    </tr>
    <tr>
      <td colspan="2"><b>Navigation</b></td>
    </tr>
    <tr>
      <td>Right</td>
      <td>Move to next word</td>
    </tr>
    <tr>
      <td>Shift + Right</td>
      <td>Move to next unknown or learning word (skip known and ignored)</td>
    </tr>
    <tr>
      <td>Left</td>
      <td>Move to previous word</td>
    </tr>
    <tr>
      <td>Shift + Left</td>
      <td>Move to previous unknown or learning word (skip known and ignored)</td>
    </tr>
    <tr>
      <td colspan="2"><b>Misc</b></td>
    </tr>
    <tr>
      <td>t<br />Shift + t</td>
      <td>Translate the sentence or paragraph of the current word</td>
    </tr>
    <tr>
      <td>c<br />Shift + c</td>
      <td>Copy the sentence or whole paragraph of the current word to clipboard</td>
    </tr>
    <tr>
      <td colspan="2"><b>Appearance</b></td>
    </tr>
    <tr>
      <td>m</td>
      <td>Switch to the next theme</td>
    </tr>
    <tr>
      <td>h</td>
      <td>Toggle term highlighting</td>
    </tr>
  </tbody>
</table>
