# IMPORTANT: if any new requirements are added,
# you MUST also change pyproject.toml.
# If you don't, the pypi release will not be correct.

ahocorapy==1.6.2
beautifulsoup4==4.12.2
blinker==1.6.2
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.1
click==8.1.7
colorama==0.4.6
docutils==0.20.1
exceptiongroup==1.1.3
Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
future==1.0.0
greenlet==3.0.0
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
jaconv==0.3.4
Jinja2==3.1.2
MarkupSafe==2.1.3
natto-py==1.0.1
openepub==0.0.8
pipdeptree==2.13.0
platformdirs==3.10.0
pycparser==2.21
pypdf==3.17.4
PyYAML==6.0.1
requests==2.31.0
soupsieve==2.5
SQLAlchemy==2.0.21
subtitle-parser==1.3.0
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tomli_w==1.0.0
typing_extensions==4.8.0
urllib3==1.26.18
waitress==2.1.2
Werkzeug==2.3.7
WTForms==3.0.1
xmltodict==0.13.0
zipp==3.17.0
