{% extends 'base.html' %}

{% block body %}

<div id="form-frame-left" style="width: 50%;">
  {% if term.language_id is none %}
  <h1>New Term</h1>
  {% else %}
  <h1>Edit Term</h1>
  {% endif %}

  {% include('term/_form.html') %}

  <a href="/term/index">back to list</a>

  {% if term.id %}

  <form
    method="post"
    action="/term/delete/{{ term.id }}"
    onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn">Delete</button>
  </form>

  {% endif %}
</div>


<div id="reading-frames-right" style="position: fixed; top: 0; right: 0; height: 95%; 
width: 50%;">
  <iframe name="dictframe" class="rightreadingframe" src="/read/empty" scrolling="auto"
          style="height: 100%; width: 100%;" frameBorder="1">
    Frame support required.
  </iframe>
</div>

{% endblock %}
