name:
dictionaries:
  - for: terms
    type: embedded
    url: x
    active: true
  - for: terms
    type: popup
    url: x
    active: true
  - for: sentences
    type: popup
    url: x
    active: true
# show_romanization: 
# right_to_left: 

# parser_type: defaults to space delimited.
# character_substitutions:
# split_sentences: 
# split_sentence_exceptions:
# word_chars: 