.audio-player-container {
  /* margin: 0 20px 30px 20px; */

  border: 2px solid #d7e6f4;
  border-radius: 5px;
  padding: 0.9rem;
  background-color: aliceblue;
  width: 80%;
  margin: 0 auto;
  min-width: 520px;
  box-sizing: border-box;

  --audio-color-1: #5abaf4;
  --button-size-small: 28px;
}

.audio-player-top-container {
  display: grid;
  grid-template-columns: min-content 2.2fr min-content;
  align-items: center;

  gap: 2%;
}

.play-btn-container {
  padding: 0.7rem;
  background-color: #ddf3fc;
  border-radius: 50%;
}

.audio-player-timeline-container {
  width: 100%;
  /* for marker overlay */
  position: relative;

  background-color: aliceblue;
  /* padding: 0.5rem; */
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 6px;
}

.audio-player-timeline-container-grid {
  /* display: grid; */
  /* grid-template-columns: 1fr min-content; */
  /* align-items: center; */
  /* gap: 2%; */
  background-color: #ddf3fc;
  border-radius: 5px;
  padding: 0.5rem;
}

.audio-player-central-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.skip-back-btn-container,
.playback-rate-container {
  background-color: aliceblue;
  padding: 0.3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#audio_file {
  display: none;
}

.audio-label {
  cursor: pointer;
}

#play-btn {
  /* background-image: url("/static/icn/play.svg"); */
  /* background-size: 70%; */
  /* content: ""; */
  background: url("/static/icn/play.svg");

  /* mask-size: cover; */
  /* background-color: var(--audio-color-1); */
  height: 64px;
  width: 64px;
  /* height: 100%; */
  display: block;
  /* transform: scale(60%); */
  /* background-color: #565656; */
}

/* #volume-on-btn { */
  /* background: url("/static/icn/volume-up.svg"); */
  /* height: 32px; */
  /* width: 32px; */
  /* display: block; */
/* } */

#playback-rate-btn {
  background: url("/static/icn/speed.svg");
  height: var(--button-size-small);
  width: var(--button-size-small);
  display: block;
  position: relative;
  font-family: inherit;
}

#playback-rate-btn span {
  position: absolute;
  bottom: 0;

  left: 50%;
  transform: translate(-50%, 0);
  font-family: inherit;
  font-size: .6em;
}

#skip-back-btn {
  background: url("/static/icn/skip-backward.svg");
  height: var(--button-size-small);
  width: var(--button-size-small);
}

#rewind-btn {
  background: url("/static/icn/rewind.svg");
  height: var(--button-size-small);
  width: var(--button-size-small);
}

#ff-btn {
  background: url("/static/icn/ff.svg");
  height: var(--button-size-small);
  width: var(--button-size-small);
}

#bkm-save-btn {
  background: url("/static/icn/bookmark-save.svg");
  height: var(--button-size-small);
  width: var(--button-size-small);
}

#bkm-delete-btn {
  background: url("/static/icn/bookmark-delete.svg");
  height: var(--button-size-small);
  width: var(--button-size-small);
}

#bkm-prev-btn {
  background: url("/static/icn/bookmark-prev.svg");
  height: var(--button-size-small);
  width: var(--button-size-small);
}

#bkm-next-btn {
  background: url("/static/icn/bookmark-next.svg");
  height: var(--button-size-small);
  width: var(--button-size-small);
}

#play-btn,
#volume-on-btn,
#volume-off-btn,
#rewind-btn,
#ff-btn,
#skip-back-btn,
#playback-rate-btn,
#bkm-save-btn,
#bkm-delete-btn,
#bkm-prev-btn,
#bkm-next-btn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  padding: 0;
  border-radius: 50%;

  flex-shrink: 0;
}



/* #play-btn { */
/* width: 64px; */
/* height: 64px; */
/* /~ background-color: #3f3f3f; ~/ */
/* border: 4px solid var(--audio-color-1); */
/* background: none; */
/* /~ filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.75)); ~/ */
/* } */
/* #play-btn svg { */
/* stroke: #9de6d8; */
/* stroke-width: 2.5; */
/* transform: scale(70%); */
/* } */

.timeline {
  -webkit-appearance: none;
  width: 100%;
  height: 1.1rem;
  margin: 0;
  background-color: #fff;
  border-radius: 5px;
  background-size: 0% 100%;
  background-image: linear-gradient(var(--audio-color-1), var(--audio-color-1));
  background-repeat: no-repeat;
}

.volume {
  -webkit-appearance: none;
  width: 100px;
  height: 1em;
  margin: 0;
  background-color: #fff;
  border-radius: 5px;
  background-size: 100% 100%;
  background-image: linear-gradient(var(--audio-color-1), var(--audio-color-1));
  background-repeat: no-repeat;

  /* appearance: slider-vertical; */
  /* transform: scaleY(-1); */
  /* margin-bottom: 1.1rem; */
}

.timeline::-webkit-slider-runnable-track,
.volume::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  /* background: transparent; */
}

.timeline::-moz-range-track,
.volume::-moz-range-track {
  box-shadow: none;
  border: none;
  /* background: transparent; */
}

/* .volume-container { */
  /* text-align: center; */
  /* /~ grid-column: 1/-1; ~/ */
  /* /~ display: flex; ~/ */
  /* /~ align-items: center; ~/ */
  /* /~ flex: 0.2; ~/ */
/* } */

.rewind-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  background-color: aliceblue;
  border-radius: 5px;
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;
}

.rewind-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#rewind-option {
  border: none;
  border-radius: 5px;
  /* width: 90%; */
  height: 1.6rem;
  padding-left: 0.8rem;
  font-family: inherit;
}

.audio-player-right-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  row-gap: 0.6rem;
}

.duration-container {
  display: flex;
  justify-content: space-between;
}

/* .timeline::-webkit-slider-thumb { */
/* -webkit-appearance: none; */
/* width: 1em; */
/* height: 1em; */
/* border-radius: 50%; */
/* /~ cursor: pointer; ~/ */
/* /~ opacity: 0; ~/ */
/* /~ transition: all 0.1s; ~/ */
/* background-color: #a94672; */
/* } */

/* .timeline::-webkit-slider-thumb:hover { */
/* background-color: #943f65; */
/* } */

/* .timeline:hover::-webkit-slider-thumb { */
/* opacity: 1; */
/* } */

.timeline::-moz-range-thumb {
  width: 1px;
  height: 1em;
  opacity: 0;
}

.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 1em;
  opacity: 0;
}

.volume::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background-image: url("/static/icn/volume-up.svg");
  border: 2px solid #89c2f9;
  background-size: 80%;
  border-radius: 5px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: none; */
  padding: 0;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background-image: url("/static/icn/volume-up.svg");
  border: 2px solid #89c2f9;
  background-size: 80%;
  border-radius: 5px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: none; */
  padding: 0;
}

/* .timeline::-moz-range-thumb:hover { */
/* background-color: #7cbefc; */
/* } */

/* .timeline:hover::-moz-range-thumb { */
/* opacity: 1; */
/* } */

/* .marker { */
/* /~ background-color: red; ~/ */
/* height: 1rem; */
/* position: absolute; */
/* top: 0.1rem; */
/* left: 3%; */
/* /~ background: linear-gradient( ~/ */
/* /~ to right, ~/ */
/* /~ transparent 10%, ~/ */
/* /~ #ff6464 10%, ~/ */
/* /~ #ff6464 12%, ~/ */
/* /~ transparent 12%, ~/ */
/* /~ transparent 64%, ~/ */
/* /~ green 64%, ~/ */
/* /~ green 66%, ~/ */
/* /~ transparent 66% ~/ */
/* /~ ); ~/ */
/* width: 2%; */
/* user-select: none; */
/* pointer-events: none; */
/* } */

/* marker -> 27 */

/* transparent = 26 */
/* marker start = 26 */
/* marker end = 28 */
/* transparent = 28 */

.bookmark-container {
  background-color: #ddf3fc;
  padding: 0.3rem;
  border-radius: 5px;
}

/* .bookmark-jump-container { */
  /* justify-self: end; */
/* } */
