:root {
  --tagify__tag-bg: #3498db;
  --tagify__tag-color: #ffffff;
  --tagify__tag-hover: #2980b9;
  /* Add more custom variables as needed */
}

.tagify {
    --tag-pad: 0.2rem 0.2rem;
    --tag-border-radius: 2px;

    display: flex;
    align-items: center;
    gap: 0.15rem;

    font-size: 0.8rem;
    font-family: inherit;

    border-radius: var(--form-border-radius);
}

.tagify__tag:focus div::before,
.tagify__tag:hover:not([readonly]) div::before {
  --tag-bg-inset: -1px !important;
}

/* .tagify__input::placeholder { */
    /* color: #D8D8D8; */
    /* opacity: 1; /~ Firefox ~/ */
/* } */

/* placeholder is visible when field is out of focus */
.tagify__input:empty:before {
    content: attr(data-placeholder);
    font-family: inherit;
    color: #D8D8D8;
    opacity: 1;
}

.tagify__dropdown__item {
    font-size: 0.9rem;
    padding-left: 0.2rem;
    margin: 0;
    border-radius: 0;
}

/* /~* Hard code colors to prevent theme issues. ~/ */

.tagify__dropdown__wrapper {
    background: transparent !important;
}

.tagify__dropdown {
    background: white !important;
    color: black !important;
}

.tagify__tag {
    margin: 0 !important;
    padding: 0 !important;
}

.tagify__tag > div {
    display: flex;
    align-items: center;
}

.tagify__input {
    margin: 0 !important;
    padding: 0.2rem 0.2rem !important;
}

