# Sample docker-compose.yml file.
#
version: '3.9'
services:
  lute:
    image: lute3:latest
    ports:
      - 5000:5000
    volumes:
      # Note: you should change these directories
      # to absolute paths (e.g. "/usr/yourname/etc/my_data")
      - ./my_data:/lute_data
      - ./my_backups:/lute_backup
