{% extends 'base.html' %}

{% block title %}Backups{% endblock %}

{% block header %}Backups{% endblock %}

{% block body %}

<p>Stored in: {{ backup_dir }}</p>
<br />

<form action="/backup/upload" method="post" enctype="multipart/form-data" style="margin-bottom: 1em;">
  <input type="file" name="backup_file" accept=".gz" />
  <button type="submit">Upload backup</button>
</form>

{% if backups|length == 0 %}
  <p>No backups have been made yet.</p>
{% else %}

<table class="table dataTable no-footer" style="width: 80%; margin: 0;">
  <thead>
    <tr>
      <th>Backup File</th>
      <th>Size</th>
      <th>Last Modified</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for backup in backups %}
    <tr>
      <td>{{ backup.name }}</td>
      <td>{{ backup.size }}</td>
      <td>{{ backup.last_modified.strftime('%Y-%m-%d %H:%M:%S') }}</td>
      <td><a href="/backup/download/{{ backup.name }}">Download</a></td>
      <td><a href="#" class="restore-backup-link" data-filename="{{ backup.name }}">Restore</a></td>
      <td><a href="#" class="delete-backup-link" data-filename="{{ backup.name }}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

<br />
<a href="{{ url_for('backup.backup', type='manual') }}">Create new</a>

<script>
  $(document).ready(function() {
    $('.restore-backup-link').click(function(e) {
      e.preventDefault();

      const filename = $(this).data('filename');
      const msg = `Restore "${filename}"?  This will replace the current database.`;
      if (!confirm(msg)) {
        return;
      }

      $.post('/backup/do_restore', { filename: filename })
        .done(function() { window.location = "/"; })
        .fail(function(xhr) {
          const p = JSON.parse(xhr.responseText);
          alert("RESTORE ERROR: " + p.errmsg);
        });
    });

    $('.delete-backup-link').click(function(e) {
      e.preventDefault();

      const filename = $(this).data('filename');
      const msg = `Delete "${filename}"?`;
      if (!confirm(msg)) {
        return;
      }

      $.post('/backup/do_delete', { filename: filename })
        .done(function() { window.location = "/backup/index"; })
        .fail(function(xhr) {
          const p = JSON.parse(xhr.responseText);
          alert("DELETE ERROR: " + p.errmsg);
        });
    });
  });
</script>

{% endblock %}
