# Copy this file to config.yml, and edit it as needed.

# The environment.  Either 'prod' or 'dev'
ENV: prod

# The database file name.
# For tests, this must be "test_<name>.db" (e.g test_lute.db).
# REQUIRED
DBNAME: lute.db

# Folder where data should be stored.
# If not set, this returns the "app data" folder
# as indicated by PlatformDirs.user_data_dir
# (ref https://pypi.org/project/platformdirs/).
# OPTIONAL (but REQUIRED for docker and developer tests)
# DATAPATH: yourpathhere

# Folder where backups should be stored.
# OPTIONAL (but REQUIRED for docker)
# BACKUP_PATH: yourpathhere

# Port to serve on.
# If not set, defaults to 5000.
# This is only used in main.py, not in dev.py.
# OPTIONAL
# PORT: 5000

# Value to set in environment MECAB_PATH.
# _May_ be needed for pytest, if natto-py
# can't find it automatically.
# This is used in github CI.
# MECAB_PATH: xyz

# Set IS_DOCKER: true if this is run in a container.
# IS_DOCKER: true