{% extends 'base.html' %}

{% block title %}Settings{% endblock %}
{% block header %}Settings{% endblock %}

{% block body %}

{% for field_name, field_errors in form.errors.items() %}
{% for error in field_errors %}
<div class="flash-notice">{{ error }}</div>
{% endfor %}
{% endfor %}

<form method="POST">
  {{ form.hidden_tag() }}
  {{ form.csrf_token }}

  <table class="settingstable">

    <tr>
      <td>
        <h2>Backup</h2>
      </td>
      <td />
    </tr>

    {% for f in [
    form.backup_enabled,
    form.backup_dir,
    form.backup_auto,
    form.backup_warn,
    form.backup_count
    ]%}
    <tr>
      <td>{{ f.label }}</td>
      <td>{{ f(class="form-control") }}</td>
    </tr>
    {% endfor %}

    <tr>
      <td>
        <h2>Custom styles</h2>
      </td>
      <td />
    </tr>

    <tr>
      <td>
        {{ form.custom_styles.label }}
        <img
          id="about_custom_styles" style="margin-right:10px;"
          src="{{ url_for('static', filename='icn/question-balloon.png') }}"
          title="Click for details"
          onclick="$('#custom_styles_help').toggle();"
          />
        <blockquote id="custom_styles_help" style="width:60%; display: none;">
          <p>Use this field to define custom styles to be applied to
          Lute.</p>
          <p>See examples
          in <a href="https://github.com/jzohrab/lute/wiki/Customizing-Styles"
          target="_blank">the wiki</a>.</p>
        </blockquote>
      </td>
      </td>
      <td>
        {{ form.custom_styles(class="form-largetextarea") }}
      </td>
    </tr>

    <tr>
      <td>
        <h2>MeCab (Japanese only)</h2>
      </td>
      <td />
    </tr>

    <tr>
      <td>
        <button onclick="test_mecab_setup(); return false;">
          Test my MeCab configuration
        </button>
      </td>
      <td>
        <div id="parse_result"></div>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.mecab_path.label }}
        <img
          id="about_mecab_path" style="margin-right:10px;"
          src="{{ url_for('static', filename='icn/question-balloon.png') }}"
          title="Click for details"
          onclick="$('#mecab_path_help').toggle();"
          />
        <blockquote id="mecab_path_help" style="width:60%; display: none;">
          <p>Lute uses MeCab to parse Japanese, so MeCab needs to be
            installed on your machine (see notes
            in <a href="https://github.com/jzohrab/lute/wiki/Install-Mecab"
            target="_blank">the wiki</a>).</p>
          <p>Lute includes the Python
            library <a href="https://github.com/buruzaemon/natto-py">natto-py</a>
            to interact with MeCab.  natto-py can usually find MeCab
            automatically, but you <i>may</i> need to set a MECAB_PATH
            environment variable if it can't, per
            the <a href="https://github.com/buruzaemon/natto-py#explicit-configuration-via-mecab_path-and-mecab_charset"
            target="_blank">natto-py README</a>.</p>
          <p>Try different values for MECAB_PATH, including leaving
            the field blank, until clicking the &quot;test&quot;
            button returns a &quot;success&quot; message.</p>
        </blockquote>
      </td>
      <td>{{ form.mecab_path(class="form-control") }}</td>
    </tr>

  </table>

  <div style="margin-top:40px;">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>

<button onclick="window.location = '/'">Cancel</button>

<script>
  function test_mecab_setup() {
    let mecab_path = $('#mecab_path').val()

    $.ajax({
      type: "GET",
      url: '/settings/test_mecab',
      data: { mecab_path: mecab_path },
      dataType: "json",
      success: function(data) {
        const r = data['result'];
        let msg = `${r}: ${data['message']}`
        let color = 'red';
        if (r == 'success') {
          color = 'green';
        }
        else {
          msg += "<br/><br/>Also, ensure you have MeCab installed and on your PATH.";
        }

        el = $('#parse_result');
        el.html(msg);
        el.css('border', `2px solid ${color}`);
      },
      error: function() {
        alert('Error occured');
      }
    });
  }

</script>

{% endblock %}
