{% for field_name, field_errors in form.errors.items() %}
<p>{{ field_name }}
  <ul>
    {% for error in field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</p>
{% endfor %}

<form method="POST">
  {{ form.hidden_tag() }}

  <table id="language">
  <tbody>

    <tr>
      <td>{{ form.name.label(class="form-control-label") }}</td>
      <td>{{ form.name(class="form-control") }}</td>
    </tr>

    <tr>
      <td>Dictionaries</td>
      <td>
        <div id="dictionary_entities">
          {% for dictionary in form.dictionaries %}
          <div class="valign" {% if loop.first %}style="display: none;"{% endif %}>
            <span class="drag-handle">☰</span> {{ dictionary.dicttype }}
            {{ dictionary.dicturl(class="form-control-narrower") }}
            <span class="remove-dict-entity">
              <img src="{{ url_for('static', filename='icn/minus-button.png') }}">
            </span>
          </div>
          {% endfor %}
        </div>
        <span id="add-dict-entity"><img src="{{ url_for('static', filename='icn/plus-button.png') }}"</span>
      </td>
    </tr>

    {% for field in form %}
    {% if field.name not in ('csrf_token', 'dictionaries') %}
    <tr>
      <td>{{ field.label(class="form-control-label") }}</td>
      <td>{{ field(class="form-control") }}</td>
    </tr>
    {% endif %}
    {% endfor %}

  </tbody>
  </table>

  <button id="submit" type="submit" class="btn btn-primary">Save</button>
</form>

<script>
  $(document).ready(function() {
    // Make the list of entities sortable
    let sort_entities = function() {
      /*
      // I don't think there's any need to re-index
      // the dicts, they're posted with the index number
      // as part of the field name.
      $("#dictionary-entities > div").each(function(index) {
      var numberInput = $(this).find('input[type="number"]');
      numberInput.val(index + 1);
      });
      */
    };

    let apply_sortable = function() {
      $("#dictionary_entities").sortable({
        handle: ".drag-handle",
        update: function(event, ui) {
          sort_entities();
        }
      });
    };

    apply_sortable();

    // Add a new entity
    $("#add-dict-entity").click(function() {
      var index = $("#dictionary_entities").children().length;
      let template = "<div>" + $("#dictionary_entities div").html() + "</div>";
      // console.log(template);
      template = template.replaceAll('-0', `-${index}`);
      $("#dictionary_entities").append(template);
      apply_sortable();
    });

    // Remove an entity
    $(document).on("click", ".remove-dict-entity", function() {
      $(this).closest("div").remove();
    });
  });
</script>

{% if language.id %}
<form method="post" action="/language/delete/{{ language.id }}" onsubmit="return confirm('WARNING: deleting a language deletes all its books and defined terms.  Are you *absolutely* sure you want to delete this item?');">
    <button class="btn">Delete</button>
</form>
{% endif %}

<button onclick="window.location = '{{ url_for('language.index') }}'">Cancel</button>
