{% extends 'base.html' %}

{% block body %}
<h2>Edit Language</h2>

{% for field_name, field_errors in form.errors.items() %}
<p>{{ field_name }}
  <ul>
    {% for error in field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</p>
{% endfor %}

<form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form %}
    {% if field.name != 'csrf_token' %}
    <div class="form-group">
        {{ field.label(class="form-control-label") }}
        {{ field(class="form-control") }}
    </div>
    {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<button onclick="window.location = '{{ url_for('language.index') }}'">Cancel</button>

{% endblock %}
