{{ form.errors.items() }}

{% if form.general_errors | length > 0 %}
<div class="flash-notice-narrow">
  <p>Errors:</p>
  {% for msg in form.general_errors %}
  <p>{{ msg | safe }}</p>
  {% endfor %}
</div>
{% endif %}

{% for field_name, field_errors in form.errors.items() %}
<div class="flash-notice-narrow">
  <p>{{ field_name }}
    <ul>
      {% for error in field_errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </p>
</div>
{% endfor %}

<form id="export_spec_form" method="POST">
  {{ form.hidden_tag() }}

  <table id="ankiexport">
  <tbody>

    <tr>
      <td>{{ form.export_name.label(class="form-control-label") }}</td>
      <td>{{ form.export_name(class="form-control") }}</td>
    </tr>

    <tr>
      <td>{{ form.criteria.label(class="form-control-label") }}</td>
      <td>{{ form.criteria(class="form-largetextarea") }}</td>
    </tr>

    <tr>
      <td>{{ form.deck_name.label(class="form-control-label") }}</td>
      <td>{{ form.deck_name(class="form-control") }}</td>
    </tr>

    <tr>
      <td>{{ form.note_type.label(class="form-control-label") }}</td>
      <td>{{ form.note_type(class="form-control") }}</td>
    </tr>

    <tr>
      <td>{{ form.field_mapping.label(class="form-control-label") }}</td>
      <td>{{ form.field_mapping(class="form-largetextarea") }}</td>
    </tr>

    <tr>
      <td>{{ form.active.label(class="form-control-label") }}</td>
      <td>{{ form.active(class="form-control") }}</td>
    </tr>

    <!-- TODO hide this -->
    <textarea name="ankisettings" id="txtAnkiSettings"></textarea>

  </tbody>
  </table>

  <button type="submit" class="btn btn-primary">Save</button>
  <button id="btnCancel" class="btn" onclick="window.location = '{{ url_for('ankiexport.anki_index') }}'; return false;">Cancel</button>

  {% if spec.id %}
  <button id="btnDelete" class="btn" onclick="confirm_delete({{ spec.id }}); return false;">Delete</button>
  {% endif %}

</form>


<script>

  let anki_specs = null;

  $( document ).ready(function() {
    $("#export_spec_form :input").prop("disabled", true);
    $("#btnCancel").prop("disabled", false);
    const ac_url = LUTE_USER_SETTINGS["ankiconnect_url"];
    LuteAnki.get_anki_specs(ac_url)
      .then((specs) => {
        $("#export_spec_form :input").prop("disabled", false);
        anki_specs = specs;

        $("#txtAnkiSettings").val(JSON.stringify(anki_specs, null, 2));

        // Is null for new.
        const current_mapping = {{ form.field_mapping.data | tojson }};
      })
      .catch(error => {
        window.alert(error);
      });
  });

  function confirm_delete(spec_id) {
    if (spec_id == null)
      return;
    if (!window.confirm("Delete export?"))
      return;
    window.location = `/ankiexport/spec/delete/${spec_id}`;
  }

</script>
