{% if form.general_errors | length > 0 %}
<div class="flash-notice-narrow">
  <p>Errors:</p>
  {% for msg in form.general_errors %}
  <p>{{ msg | safe }}</p>
  {% endfor %}
</div>
{% endif %}

{% for field_name, field_errors in form.errors.items() %}
<div class="flash-notice-narrow">
  <p>{{ field_name }}
    <ul>
      {% for error in field_errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </p>
</div>
{% endfor %}

<form id="export_spec_form" method="POST">
  {{ form.hidden_tag() }}

  <table id="ankiexport">
  <tbody>

    <tr>
      <td>{{ form.export_name.label(class="form-control-label") }}</td>
      <td>{{ form.export_name(class="form-control") }}</td>
    </tr>

    <tr>
      <td>{{ form.criteria.label(class="form-control-label") }}</td>
      <td>{{ form.criteria(class="form-largetextarea") }}</td>
    </tr>

    <tr>
      <td>{{ form.deck_name.label(class="form-control-label") }}</td>
      <td>{{ form.deck_name(class="form-control") }}</td>
    </tr>

    <tr>
      <td>{{ form.note_type.label(class="form-control-label") }}</td>
      <td>{{ form.note_type(class="form-control") }}</td>
    </tr>

    <tr>
      <td>{{ form.field_mapping.label(class="form-control-label") }}</td>
      <td>
        {{ form.field_mapping(class="form-largetextarea") }}

        <div id="mappingContainer">
          <!-- Fields will be dynamically inserted here -->
        </div>
        <button id="add_mapping_row" onclick="add_field_mapping_row(null, null); return false;">&nbsp;+&nbsp;</button>

      </td>
    </tr>

    <tr>
      <td>{{ form.active.label(class="form-control-label") }}</td>
      <td>{{ form.active(class="form-control") }}</td>
    </tr>

    <!-- TODO hide this -->
    <textarea name="ankisettings" id="txtAnkiSettings"></textarea>

  </tbody>
  </table>

  <button type="submit" class="btn btn-primary" onclick="set_anksettings_field(); return true;">Save</button>
  <button id="btnCancel" class="btn" onclick="window.location = '{{ url_for('ankiexport.anki_index') }}'; return false;">Cancel</button>

  {% if spec.id %}
  <button id="btnDelete" class="btn" onclick="confirm_delete({{ spec.id }}); return false;">Delete</button>
  {% endif %}

</form>


<script>

  let anki_specs = null;

  $( document ).ready(function() {
    $("#export_spec_form :input").prop("disabled", true);
    $("#btnCancel").prop("disabled", false);
    const ac_url = LUTE_USER_SETTINGS["ankiconnect_url"];
    LuteAnki.get_anki_specs(ac_url)
      .then((specs) => {
        $("#export_spec_form :input").prop("disabled", false);
        anki_specs = specs;

        $("#txtAnkiSettings").val(JSON.stringify(anki_specs, null, 2));

        noteTypeFields = anki_specs["note_types"];
        load_select("#note_type", Object.keys(noteTypeFields), "{{ form.note_type.data }}");

        load_select("#deck_name", anki_specs["deck_names"], "{{ form.deck_name.data }}");

        let current_mapping_string = {{ form.field_mapping.data | tojson }};
        load_fields_and_mappings(current_mapping_string);
      })
      .catch(error => {
        window.alert(error);
      });
  });

  function load_select(sel_id, sel_options, current_value) {
    const ntsel = $(sel_id);
    ntsel.empty();
    ntsel.append(new Option("(select)", ""))
    sel_options.forEach(f => {
      ntsel.append(new Option(f, f));
    });
    ntsel.val(current_value);
  }

  function confirm_delete(spec_id) {
    if (spec_id == null)
      return;
    if (!window.confirm("Delete export?"))
      return;
    window.location = `/ankiexport/spec/delete/${spec_id}`;
  }

  // Prevent Return from submitting the form.
  $("#dataMappingForm").bind("keypress", function (e) {
    if (e.keyCode == 13) {
      return false;
    }
  });

  var noteTypeFields = {};

  function load_note_type_field_controls(selectedType) {
    if (!selectedType) return;

    const fields = noteTypeFields[selectedType];
    $("#available_fields").empty();
    for (let i = 0; i < fields.length; i++)
      $("#available_fields").append(`<option value="${fields[i]}">`);

    $(".field-container").each(function() {
      const fieldname_input = $(this).find(".fieldname")
      const fieldname = fieldname_input.val();
      if (!fields.includes(fieldname)) {
        fieldname_input.css("border-color", "red");
      }
    });

    remove_empty_mapping_rows();

    const mappingContainer = $("#mappingContainer");

    if ($(".field-container").length == 0) {
      fields.forEach(f => add_field_mapping_row(f));
    }
    else {
      $(".field_dropdown").each(function() {
        add_options($(this), fields);
      });
    }
  }

  $("#note_type").change(function () {
    const selectedType = $(this).val();
    load_note_type_field_controls(selectedType);
  });

  function add_options(field_select, opts_list) {
    field_select.empty();
    field_select.append(new Option("\u25BE", ""));
    opts_list.forEach(f => {
      field_select.append(new Option(f, f));
    });
  }

  function field_box_changed(field_box) {
    const selectedType = $("#note_type").val();
    if (!selectedType) return;
    const available_fields = noteTypeFields[selectedType];
    const field_name = field_box.val();
    const color = available_fields.includes(field_name) ? "" : "red";
    field_box.css("border-color", color);
  }

  /** Pre-load the mapping fields and their strings. */
  function load_fields_and_mappings(current_mapping_string) {
    if (current_mapping_string == null)
      return;

    let current_mapping = {};
    try {
      current_mapping = JSON.parse(current_mapping_string);
    }
    catch (error) {
      console.error(`Error parsing current mapping string ${current_mapping_string}`, error);
    }
    Object.entries(current_mapping).forEach(([fld, mapping]) => {
      add_field_mapping_row(fld, mapping);
    });
  }


  function add_field_mapping_row(field_name = null, mapping_val = null) {
    const selectedType = $("#note_type").val();
    /*
    if (!selectedType) {
      console.log("select note type");
      return;
      }
    */

    const mappingContainer = $("#mappingContainer");
    const rowid = $(".field-container").length + 1;
    const this_id = `fc_${rowid}`;
    const fieldContainer = $(`<div id="${this_id}">`).addClass("field-container");

    const fieldBox = $(`<input type="text" class="fieldname">`);
    if (field_name)
      fieldBox.val(field_name);
    fieldBox.on('change', function() {
      field_box_changed($(this));
    });

    const textBox = $(`<input class="fieldval" type="text">`);
    if (mapping_val)
      textBox.val(mapping_val);

    function _create_dropdown(className, options, onChange) {
      const select = $(`<select class="${className} arrow_only_dropdown" />`);
      add_options(select, options);
      select.on("change", function () {
        const v = $(this).val() ?? "";
        if (v !== "")
          onChange(v);
        $(this).val("").blur(); // Reset to down arrow
      });
      return select;
    }

    const fields = noteTypeFields[selectedType] ?? [];
    const fieldOpts = _create_dropdown("field_dropdown", fields, (v) => {
      fieldBox.val(v);
      field_box_changed(fieldBox);
    });

    const valOptions = [
      `{ id }`,
      `{ term }`,
      `{ language }`,
      `{ parents }`,
      `{ tags }`,
      `{ translation }`,
      `{ tags:["val1", "val2"] }`,
      `{ image }`,
      `{ sentence }`,
    ];
    const valOpts = _create_dropdown("mapping_dropdown", valOptions, (v) => {
      textBox.val(v);
    });

    const del_button = $(`<button type="button">&nbsp;-&nbsp;</button>`).data("row-id", this_id);
    del_button.on("click", function () { remove_mapping_row($(this).data("row-id")); });

    fieldContainer.append(fieldBox, fieldOpts, textBox, valOpts, del_button);
    mappingContainer.append(fieldContainer);
  }

  function remove_empty_mapping_rows() {
    $(".field-container").filter(function () {
      return !$(this).find(".fieldval").val().trim();
    }).remove();
  }

  function remove_mapping_row(row_id) {
    $(`#${row_id}`).remove();
  }

  function set_anksettings_field() {
    let field_mapping = {};
    $(".field-container").each(function() {
      const c = $(this);
      const fieldname = c.find(".fieldname").val().trim();
      const fieldval = c.find(".fieldval").val().trim();
      if (fieldval != "")
        field_mapping[fieldname] = fieldval;
    });
    const mapping_string = JSON.stringify(field_mapping, null, 2);
    $("#field_mapping").val(mapping_string);
    console.log(mapping_string);
  }

</script>
