{% extends 'base.html' %}

{% block title %}AnkiConnect Settings{% endblock %}
{% block header %}AnkiConnect Settings{% endblock %}

{% block body %}

<form method="post">
  {{ form.hidden_tag() }}

  <table class="settingstable">
    {% for f in [
    form.ankiconnect_web_bind_address,
    form.ankiconnect_web_bind_port,
    ]%}
    <tr>
      <td>{{ f.label }}</td>
      <td>{{ f(class="form-control") }}</td>
    </tr>
    {% endfor %}
  </table>

  <div style="margin-top:10px;">
    <button class="btn" onclick="window.alert('TODO'); return false;">Test settings - TODO implement</button>
    <button type="submit" class="btn btn-primary">Save</button>
    <button class="btn" onclick="window.location = '/'; return false;">Cancel</button>
  </div>

</form>

<p>TODO add datatables</p>
<p>delete, edit actions</p>
<p>add new link</p>

<h1>HACKING FORM BUILDER</h1>
<form id="dataMappingForm">
  <label for="noteType">Note Type:</label>
  <select id="noteType">
    <option value="">-- Select Note Type --</option>
    <option value="note_type_A">Note Type A</option>
    <option value="note_type_B">Note Type B</option>
  </select>

  <div id="mappingContainer">
    <!-- Fields will be dynamically inserted here -->
  </div>

  <datalist id="mapping-presets">
  {% for x in ['term', 'tags', 'tags["val1", "val2", ...]'] %}
  <option value="{% raw %}{{{% endraw %} {{ x }} {% raw %}}}{% endraw %}">
  {% endfor %}
  </datalist>
</form>

<button id="getjson" onclick="get_json(); return false;">Get json</button>

<script>

  const noteTypeFields = {
    note_type_A: ["a", "b"],
    note_type_B: ["a", "c", "d"],
  };

  $("#noteType").change(function () {
    const selectedType = $(this).val();
    const mappingContainer = $("#mappingContainer");

    mappingContainer.empty(); // Clear previous fields

    if (!selectedType) return; // Exit if no selection

    const fields = noteTypeFields[selectedType];
    if (fields.length == 0) return;

    fields.forEach(field => {
      const fieldContainer = $("<div>").addClass("field-container");
      const label = $("<label>").text(`${field}: `);
      const fieldBox = $("<input>").
            attr({ class: "fieldname", type: "hidden" }).val(field);
      const textBox = $("<input>").
            attr({ class: "fieldval", type: "text", list: `mapping-presets` });
      fieldContainer.append(label, fieldBox, textBox);
      mappingContainer.append(fieldContainer);
    });
  });

function get_json() {
  // window.alert('hi');
  let field_mapping = {};
  $(".field-container").each(function() {
    const fieldname = $(this).find(".fieldname").val();
    const fieldval = $(this).find(".fieldval").val();
    field_mapping[fieldname] = fieldval;
  });
  console.log(JSON.stringify(field_mapping, null, 2));
}
</script>

{% endblock %}
